<!-- This hbs file is the first one that loads up. the initial page.
This is where the content the user is asked to enter is and after they fill out the content,
it is send using the post request in index.js.-->

<!--I will say I am still confused as to how the files work in the order they do. Like why is there no href linking anything in here.
Unless that is in layout.hbs but I do not see it. Unless it is just like a bts thing that just works because of the way stuff is named idk. -->


<h1>Welcome to the {{ title }}</h1>

<p>A web app by {{ author }}</p>

<p>You loaded this page at {{ timePageLoadedAt }}</p>

<p><a href="/feedback-form">Submit Feedback Here!</a></p>